.sidenav {
    background-color: #faf8f9;
    width: 200px;
}

.sidenav a {
    color: rgb(7, 7, 7);
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}